@font-face {
	font-family: "Eurostile";
  src: url("../fonts/eurostile-bold.woff2") format("woff2");
	font-weight: 700;
}
@font-face {
	font-family: "Eurostile";
  src: url("../fonts/eurostile-regular.woff") format("woff");
	font-weight: 400;
}
@font-face {
    font-family: 'Digital7';
    src: url('../fonts/digital-7.woff2') format('woff2');
}
// @font-face {
//     font-family: 'Open24';
//     src: url('/assets/fonts/open_24.woff2') format('woff2');
// }
