$project-prefix: '.watch';

$watchProps: (
	borderWidth: 15px
);

$font: (
	default: 'Helvetica Neue',
	logo: Eurostile,
	digital: Digital7
);

$color: (
	blue: #04397f,
	red: #cc4a3c,
	gold: #ad9b43,
	lcd: #8e9Ba3,
	digits: #405163,
	indiglo: aqua,
	case: #14171e
);
